<h1>Add Songs</h1>

# <insert Spotify API search bar here>
# <need ability to search for songs>

# <how do we create a new add_song without creating with playlist_id and track_id ?>



<%= button_to "Return to Playlist", playlist_path(playlist), method: :get %>
playlist = @add_song.playlist_id
   

<would like to add back button specifying name of playlist>