// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background: url('https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-color: black;
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-songs-back-btn {
    margin-left: 3%;
}

.add-songs-header {
    margin-top: 1.5%;
    margin-left: 2%;
}

.album-show-container {
    margin: auto;
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    padding: 3% 0 5% 5%;
}

.artist-header {
    color: rgb(240, 209, 237)
}

.artist-image {
    margin-top: 4%;
}

.artist-name { 
    margin-top: 3%;
}

.artist-show-container {
    margin: auto;
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    padding: 3% 0 5% 5%;
}

.create-new-playlist-btn {
    margin-left: 2%;
}

.create-playlist-form {
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    padding: 5% 0 5% 5%;
}

.delete {
    margin-left: 1%;
}

.edit-playlist-container {
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    padding: 5% 0 5% 5%;
}

.form-control {
    width: 70%;
    margin-top: 1.5%;
    margin-left: 4.5%;
}

.form-control-label {
    margin-top: 1.5%;
    margin-left: 4.5%;
}

.genres-list {
    margin-bottom: 2%;
}

.homepage-btn {
    margin-top: 6.5%;
    margin-left: 85%;
} 

.jumbotron{
    background:rgba(53, 26, 26, 0.651);
    background-size: 20%;
    background-repeat: no-repeat;
    height: 270px;
    width: 500px;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
.logo {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 200pt;
    background: url('https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 14%;
    text-align: center;
}

.logo-background {
    background-color: rgb(83, 50, 50);
    opacity: .7;
    height: 100vh; 
}

.list-group-item {
    background-color:rgba(17, 8, 8, 0.911);
    opacity: 0.5;
    border-radius: 0;
    color: white;
    display:inline-block;
    width: 50%;
    margin: auto;
}

.playlist-new-back-btn {
    margin-top: 16.5%;
    margin-left: 2.5%;
}

.playlist-show {
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    padding: 5% 5% 5% 5%;
}

.playlist-show-btn-group {
    margin-top: -17%;
}

.playlist-show-side-btns {
    margin-left: 2.5%;
    margin-bottom: 1%;
}

.search-btn {
    margin-left: 3%;
}

.search-results-group {
    background:rgba(17, 8, 8, 0.39);
    width: 40%;
    margin-top: 2.5%;
    margin-left: 30%;
    border-radius: 5px;
    padding-top: 3%;
    padding-left: 3.5%;
}

.track-name {
    margin-top: 4%;
}