// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    
    // background-color: rgb(6, 8, 8); 
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body
{
    background: url('https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-color: black;
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-songs-header {
    margin-top: 1%;
    margin-left: 3%;
}

.artist-header {
    color: rgb(240, 209, 237)
}

// .btn btn-outline-light{
//     margin-left: 5px;
// }

.delete {
    margin-left: 1%;
}

.edit-playlist-container {
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    padding: 5% 0 5% 5%;
}

.form-control {
    margin-left: 6%;
    width: 70%;
}

.form-control-label {
    margin-left: 6%;
}

.jumbotron{
    background:rgba(53, 26, 26, 0.651);
    background-size: 20%;
    background-repeat: no-repeat;
    height: 270px;
    width: 500px;
    margin: auto;
}

.list-group-item {
    background-color: rgb(43, 42, 42);
    opacity: 0.5;
    border-radius: 0;
    color: white;
    display:inline-block;
    }

.playlist-show {
    background:rgba(53, 26, 26, 0.651);
    width: 500px;
    border-radius: 5px;
    margin: auto;
    margin-top: 6.5%;
    padding: 5% 0 5% 5%;
}

.playlist-show-side-btns {
    margin-left: 2.5%;
    margin-bottom: 1%;
}

.search-btn {
    margin-left: 3%;
}

.search-results-group {
    // background:rgba(53, 26, 26, 0.39);
    background:rgba(17, 8, 8, 0.39);
    width: 40%;
    margin-top: 2.5%;
    margin-left: 30%;
    border-radius: 5px;
    padding-top: 3%;
    padding-left: 3.5%;
}

.track-name {
    margin-top: 4%;
}