<h1><%= @playlist.title %></h1>

<ul>
    <% @playlist.tracks.each do |track| %>
        <li><%= track.name %></li>
        <% @add_song = track.add_songs%>
        <%= button_to  "Delete This Song", {:controller => :add_songs, :action => 'destroy', :id => @add_song.ids[0]}, :method => :delete %>
    <% end %>
</ul>
