<div class="logo-background">
<h1 class="logo">Playlister</h1>
<br>

<%= button_to "Go to Playlists", {:controller => :playlists, :action => 'index'}, method: :get, class:"btn btn-outline-light homepage-btn" %>
</div>
  


  
