<h1>My Playlists</h1>

<ul>
    <% @playlists.each do |playlist| %>
        <li><%= link_to playlist.title, playlist_path(playlist) %></li>
    <% end %>
</ul>

<%# Button to get to new playlist form %>
<%= button_to "Create A New Playlist", new_playlist_path, method: :get%>